.album {
  margin-bottom: 50px;
}

.album:last-child {
  margin-bottom: 0;
}

.album__cover {
  background-color: lighten($gold, 25%);
  border-top: 1px solid $gold;
  border-bottom: 1px solid $gold;
}

.album__context-menu {
  float: right;
  margin-right: 20px;
  font-size: 22px;
  line-height: 64px;

  &:hover {
    cursor: pointer;
  }
}