.control {
  font-size: 24px;
  color: $gold-light;

  transition: color 0.2s ease;

  &:hover {
    color: lighten($gold-light, 25%);
  }

  &.inactive {
    color: $accent;

    &:hover {
      color: lighten($accent, 25%);
    }
  }
}

.control__icon {
  margin: 6px;
}

.control__icon--volume {
  width: 26px;
  text-align: left;
}

.control__icon--playpause {
  width: 24px;
  text-align: center;
}

@media screen and (min-width: 40em) {
  .control {
    font-size: 28px;
  }

  .control__icon {
    margin: 10px;
  }
}