$primary: #403E46;
$gold: #BFAA7B;
$gold-light: #D9C084;
$gold-dark: #A59377;
$accent: #8E897E;
$off-white: #F8F8FF;

$grid-row-width: 100%;

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  height: 100%;
  width: 10em;

  background-color: $primary;
  box-shadow: 1px 0px 1px 0px $primary;
}

.sidebar__menu {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.sidebar__menu-link {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  width: 100%;

  color: $off-white;

  transition: all 0.2s ease;
}

.sidebar__menu-link:hover {
  color: $off-white;
  background-color: lighten($primary, 25%);
}

.sidebar__menu-link:focus,
.sidebar__menu-link.active {
  color: #000;
  background-color: $gold;
}

.content {
  margin-right: 10em;
  transform: translate3d(10em, 0, 0);

  overflow: hidden;
}

.section-header {
  width: 100%;
  height: 3em;
  padding: 0 30px;

  color: $off-white;
  background-color: $primary;

  font-size: 26px;
  font-weight: 200;
  line-height: 3em;
}

.section-header__cover {
  height: 100%;
  margin-left: -30px;
  vertical-align: top;
}

.section-body {
  padding: 50px 50px 0;
}

.playlist-tile {
  padding: 0 20px 40px;

  font-size: 14px;
}

.playlist-tile__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.playlist-tile__cover {
  width: 100%;

  transition: transform 0.25s ease;
}

.playlist-tile__title {
  color: $primary;
  line-height: 1.4;
}

.playlist-tile__subtitle {
  color: lighten($primary, 25%);
}

.playlist-tile:hover {
  .playlist-tile__cover {
    transform: scale(0.95);
  }

  .playlist-tile__title {
    color: darken($primary, 50%);
  }
}

.track {
  padding: 10px 5px;
  border-bottom: 1px solid $gold;

  color: $primary;

  font-size: 14px;

  transition: background-color 0.2s ease;
}

.track:first-child {
  border-top: 1px solid $gold;
}

.track:hover {
  background-color: lighten($primary, 60%);
  cursor: pointer;
}

.track__title,
.track__artist,
.track__album {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track__title {
  font-weight: 600;
}

.track__artist {
  color: lighten($primary, 25%);
}

.track__album {
  color: lighten($primary, 25%);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;

  background-color: darken($primary, 10%);
  color: $gold-light;
}

.footer__track {
  margin: 5px 0;
  text-align: center;
}

.footer__track-title {
  font-size: 18px;
  font-weight: 600;
}

.footer__controls {
  margin: 5px 0;
}

.footer__center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer__time {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.control {
  font-size: 28px;
  color: $gold-light;

  transition: color 0.2s ease;
}

.control:hover {
  color: lighten($gold-light, 25%);
}

.control__icon {
  margin: 10px;
}

.progress-indicator {
  width: calc(100% - 120px);
  display: inline-block;
}

.progress-indicator:hover {
  cursor: pointer;
}

.progress-indicator__bar {
  position: relative;
  height: 5px;
  width: 100%;
  margin: 20px 0;
  background-color: $accent;
}

.progress-indicator__bar-current {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;

  background-color: $gold-light;
}