.loader {
  position: fixed;
  z-index: 50;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba($primary, 0.1);
}

.loader.show {
  display: block;
}

.loader__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin-top: -150px;
}

.loader__image.full {
  margin-left: -60px;
}

.loader__image.partial {
  margin-left: 20px;
}