.playlist-tile {
  padding: 0 20px 40px;

  font-size: 14px;
}

.playlist-tile__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.playlist-tile__cover {
  width: 100%;

  transition: transform 0.25s ease;
}

.playlist-tile__title {
  color: $primary;
  line-height: 1.4;
}

.playlist-tile__subtitle {
  color: lighten($primary, 25%);
}

.playlist-tile:hover {
  .playlist-tile__cover {
    transform: scale(0.95);
  }

  .playlist-tile__title {
    color: darken($primary, 50%);
  }
}