.search-results {
  margin-top: 50px;
}

.search-results__container:not(:first-child) {
  margin-top: 30px;
}

.search-results__header {
  margin-bottom: 0;
  border-bottom: 1px solid $gold-light;
  color: $primary;
}