$primary: #403E46;
$gold: #BFAA7B;
$gold-light: #D9C084;
$gold-dark: #A59377;
$accent: #8E897E;
$off-white: #F8F8FF;

$grid-row-width: 100%;

// $input-border: 1px solid $medium-gray !default;
$input-border-focus: 1px solid $gold !default;

$input-shadow: none;
$input-shadow-focus: 0 0 5px $gold !default;

$top-padding: 2em;