<div class="row section-body">
  <div class="column">
    <h2>Mopidy Fire</h2>

    <p>Welcome to Mopidy Fire - an Ember.js-based web interface for the popular mopidy music player.</p>
  </div>
</div>