{{#ember-wormhole to="header-content"}}
  {{model.name}}
{{/ember-wormhole}}

<div class="section-header__cover">
  <img src={{image}} class="section-header__cover-image" />
  <div class="section-header__cover-overlay">
    {{model.name}}
  </div>
</div>

<div class="section-body">
  <div>
    {{#each model.tracks as |track|}}
      {{mf-track track=track}}
    {{/each}}
  </div>
</div>