<div class="section-header">
  <img src={{image}} class="section-header__cover" />
  {{model.name}}
</div>

<div class="section-body">
  {{#each model.tracks as |track|}}
    {{mf-track track=track}}
  {{/each}}
</div>