<div class="section-body">

  <div class="input-group">
    {{mf-input class="input-group-field" value=(readonly query) onInput="onInput" onSubmit="onSubmit" update=(action (mut query))}}
    <div class="input-group-button">
      <input type="submit" class="button" value="Search">
    </div>
  </div>

  {{#if model}}
    <div class="search-results">
      {{#if model.artists}}
        <div class="search-results__container">
          <h3 class="search-results__header">Artists</h3>
            {{#each model.artists as |artist|}}
              {{#link-to "artist" artist.uri}}
                {{mf-artist artist=artist}}
              {{/link-to}}
            {{/each}}
        </div>
      {{/if}}

      {{#if model.albums}}
        <div class="search-results__container">
          <h3 class="search-results__header search-results__header--margined">Albums</h3>
          <div class="row playlist-tiles">
            {{#each model.albums as |album|}}
              {{mf-playlist-tile playlist=album linkType="album"}}
            {{/each}}
          </div>
        </div>
      {{/if}}

      {{#if model.tracks}}
        <div class="search-results__container">
          <h3 class="search-results__header">Tracks</h3>
          {{#each model.tracks as |track|}}
            {{mf-track track=track}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>