<div class="section-body">
  <div class="row">
    <div class="small-6 columns">
      <label>Mopidy URL (e.g. localhost:6680)
        {{input type="text" value=mopidyUrl placeholder="localhost:6680"}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <button type="button" class="button" {{action "save"}}>Save</button>
    </div>
  </div>
</div>
